<header>
	<nav class="navbar navbar-static">
		<div class="container-fluid">
			<div class="navbar-header">
				<a ui-sref="dashboard" class="navbar-brand">
					<img class="navLogo" src="./assets/logo.png"/>
				</a>
			</div>
		<ul class="nav navbar-nav navbar-right">
			<li ng-controller="userCtrl">
				<button class=" logoutButton btn btn-default hvr-grow" ui-sref='home' ng-click="logout()">Logout</button>
			</li>
		</ul>
		</div>
	</nav>
</header>

<div class='dashboardBodyMain container-fluid'>
	<form>
		<input type='search' class='tournamentSearch form-control' ng-model='search' placeholder='Search Tournaments'/>
	</form>
	<div class='active dashboardPanel row'>
		<h2 class='page-header'> Active Tournaments </h2>
		<div class='match-cards-body'>
			<div>
				<a ui-sref='addTournament'>
					<div class='match col-md-6 col-xs-12 vertical-center flex space-around'>
						<i class='fa fa-plus fa-5x'></i>
					</div>
				</a>
			</div>
			<div ng-repeat='tournament in tournaments | filter:search' class='match-link'>
				<div class='match col-md-6 col-xs-6'>
				<div class='flex space-between'>
					<button class='matchButtons btn btn-xs hvr-grow' ui-sref="edit({id:tournament._id})">edit</button>
					<button class='deleteButton btn btn-xs hvr-grow' ng-click="show=!show">delete</button>
					<form ng-show="show">
						<span>Are you sure?</span>
						<button class='deleteButton btn btn-xs btn-danger hvr-grow' ng-click="deleteTournament(tournament._id)">Yes</button>
						<button class='matchButtons btn btn-xs hvr-grow' ng-click="show=!show">No</button>
					</form>
				</div>
					<div class='match-body flex direction-column vertical-center' ui-sref='viewTournament({id:tournament._id})'>
						<h2 class='tournament-panel-h1'> {{tournament.name}} </h2>
						<h3> {{tournament.sport}} </h3>
						<div class='flex direction-row space-between dates'>
							<h5 ng-bind="tournament.start | date:'MM/dd/yyyy'"> {{tournament.start}} </h5>
							<h5> to </h5>
							<h5 ng-bind="tournament.end | date:'MM/dd/yyyy'"> {{tournament.end}} </h5>
						</div>
						<h5> {{tournament.location}} </h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
