<div class='dashboardBodyMain container-fluid'>
	<form>
		<input type='search' class='tournamentSearch form-control' ng-model='search' placeholder='Search Tournaments'/>
	</form>
	<div class='active dashboardPanel row'>
		<h2 class='page-header'> Active Tournaments </h2>
		<div class='match-cards-body'>
			<div>
				<a ui-sref='addTournament'>
					<div class='match col-md-6 col-xs-12 vertical-center flex space-around'>
						<i class='fa fa-plus fa-5x'></i>
					</div>
				</a>
			</div>
			<div ng-repeat='tournament in tournaments | filter:search' class='match-link'>
				<div class='match col-md-6 col-xs-6'>
				<div class='flex space-between'>
					<button class='matchButtons' ui-sref="edit({id:tournament._id})">edit</button>
					<button class='matchButtons' ng-click="show=!show">
						<span aria-hidden="true"> delete </span>
					</button>
					<form ng-show="show">
						<h5>Are you sure?</h5>
						<button class='matchButtons' ng-click="deleteTournament(tournament._id)">Yes</button>
						<button class='matchButtons' ng-click="show=!show">No</button>
					</form>
				</div>
					<div class='match-body flex direction-column vertical-center' ui-sref='viewTournament({id:tournament._id})'>
						<h2 class='tournament-panel-h1'> {{tournament.name}} </h2>
						<h3> {{tournament.sport}} </h3>
						<div class='flex direction-row space-between dates'>
							<h5 ng-bind="tournament.start | date:'MM/dd/yyyy'"> {{tournament.start}} </h5>
							<h5> to </h5>
							<h5 ng-bind="tournament.end | date:'MM/dd/yyyy'"> {{tournament.end}} </h5>
						</div>
						<h5> {{tournament.location}} </h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='historical dashboardPanel row'>
		<h2 class='page-header'> Historical Tournaments </h2>
		<div class='historicalPanels col-sm-3'>
			<h2> FIFA World Cup 2014 </h2>
			<h3> Soccer </h3>
			<h5> Time and place </h5>
			<h5> Team count </h5>
		</div>
	</div>
</div>
