.view-body{
	background: #F1F2F3;
}

.dashboardBodyMain{
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 30px;
	background: #F1F2F3;
}

.dates{
	width: 200px;
}

.matchButtons{
	background-color: transparent;
}

.match{
	background: #1f487e;
	color: #F1F2F3;
	max-width: 31%;
	height: 275px;
	margin: 1%;
	border-radius: .3em;
	padding-top: 30px;
	box-shadow: 19px 10px 28px rgba(0, 0, 0, 0.5);
}

.fa-plus{
	color: #F1F2F3;
}

.newmatch{
	border: 1px solid #F1F2F3;
	background: #F1F2F3;
	width: 31.5%;
	height: 275px;
	margin: 10px;
	border-radius: .3em;
	padding-top: 30px;
	overflow: scroll;
}

.tournament-panel-h1{
	text-align: center;
}

.addtournament{
	width: 100%;
	margin-bottom: 10px;
	background: transparent;
	box-shadow: outset 0 0 .5em;
}

.match-rounds-info{
	background: #1f487e;
	max-width: 24%;
	height: 220px;
	margin: 0.5%;
	border-radius: .3em;
	box-shadow: 19px 10px 28px rgba(0, 0, 0, 0.5);
}

.match-font-color {
	color: #F1F2F3;
}

.match-panel {
	background: #1f487e;
	color: #F1F2F3;
	margin: 1%;
	border-radius: .3em;
	padding-top: 30px;
	box-shadow: 19px 10px 28px rgba(0, 0, 0, 0.5);
}

.historicalPanels {
	background: #1f487e;
	color: #F1F2F3;
	max-width: 31%;
	height: 275px;
	margin: 1%;
	border-radius: .3em;
	padding-top: 30px;
	box-shadow: 19px 10px 28px rgba(0, 0, 0, 0.5);
}
